<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoolai.bi.report.model.entity.MonitorMetrics" >
	<resultMap id="BaseResultMap" type="com.hoolai.bi.report.model.entity.MonitorMetrics" >
		<id column="id" property="id" jdbcType="BIGINT" />
	    <result column="snid" property="snid" jdbcType="VARCHAR" />
	    <result column="gameid" property="gameid" jdbcType="VARCHAR" />
	    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
	    <result column="lower_limit" property="lowerLimit" jdbcType="DOUBLE" />
	    <result column="top_limit" property="topLimit" jdbcType="DOUBLE" />
	    <result column="is_email" property="isEmail" jdbcType="BOOLEAN" />
	    <result column="is_phone" property="isPhone" jdbcType="BOOLEAN" />
	</resultMap>

	<sql id="Base_Column_List" >
	    id, snid, gameid, column_name, lower_limit, top_limit, is_email, is_phone
	</sql>
	
	<select id="selectList" parameterType="com.hoolai.bi.report.model.entity.MonitorMetrics" resultMap="BaseResultMap" >
		select 
	    <include refid="Base_Column_List" />
	    from monitor_test
	    where snid=#{snid} and gameid=#{gameid} 
	    <if test="id != null ">
			 <![CDATA[ and id = #{id} ]]>
		</if>
	</select>
	
	<select id="selectMonitorMetricExists" parameterType="com.hoolai.bi.report.model.entity.MonitorMetrics" resultType="int">
		select count(1) 
		from monitor_test 
		where snid=#{snid} and gameid=#{gameid} 
		and column_name=#{columnName} 
	</select>
	
	<insert id="saveMonitorMetrics" parameterType="com.hoolai.bi.report.model.entity.MonitorMetrics" >
		insert into monitor_test
		(snid, gameid, column_name, lower_limit, top_limit, is_email, is_phone) 
		values 
		(#{snid}, #{gameid}, #{columnName}, #{lowerLimit}, #{topLimit}, #{isEmail}, #{isPhone})
	</insert>
	
	<update id="updateById" parameterType="com.hoolai.bi.report.model.entity.MonitorMetrics" >
		update monitor_test
		set lower_limit=#{lowerLimit}, top_limit=#{topLimit},
			is_email=#{isEmail}, is_phone=#{isPhone}
		where id=#{id}
	</update>
	
	<delete id="deleteById" parameterType="com.hoolai.bi.report.model.entity.MonitorMetrics" >
		delete 
		from monitor_test
		where id=#{id}
	</delete>

</mapper>