<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hdfs_put_delete/src/hdfs_put_delete/HDFSJavaAPIWriteDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hdfs_put_delete.HDFSJavaAPIWriteDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hdfs_put_delete"/>
</launchConfiguration>
