@charset "utf-8"; 

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

.ua-webkit textarea:focus, .ua-webkit input:focus {
	outline: none;
}

html {
	overflow-y: scroll;
	overflow-x: auto;
}

body {
	font: 12px/1.6 Tahoma, Arial, Hiragino Sans GB, \5b8b\4f53;
	color: #4d4d4d;
	-webkit-text-size-adjust: none;
}

a:link {
	color: #08c;
	text-decoration: none;
}

a:visited {
	color: #306;
	text-decoration: none;
}

a:hover {
	color: #08c;
	text-decoration: underline;
}

a:active {
	color: #08c;
	text-decoration: underline;
}

input {
	outline: none;
}

textarea {
	resize: none;
	outline: none;
	font-family: arial;
	overflow: hidden;
}

button {
	cursor: pointer;
	line-height: 1.2;
}

a img {
	vertical-align: text-bottom;
}

.ua-windows_nt input[type="checkbox"], .ua-windows_nt input[type="radio"]
	{
	vertical-align: -2px;
	vertical-align: middle\9;
}

.hide {
	position: absolute;
	visibility: hidden;
	left: -1000em;
	top: -1000em;
}

.clr:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}

.clr {
	*zoom: 1;
}

.ms-yh {
	font-family: Microsoft YaHei, Hiragino Sans GB, \5b8b\4f53;
}

.shadow {
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
	-moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
	-ms-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
	-o-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
	box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.ua-ie .shadow {
	border: 1px solid #d6d6d6;
}

.split {
	margin: 0 6px;
	color: #ccc;
}

.icon, .icon-notice, .icon-site {
	display: inline-block;
	margin-right: 6px;
	background-image: url("../images/icon/icon.png");
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	vertical-align: -2px;
	_vertical-align: -1px;
}

.icon-notice {
	background-image: url("../../../images/icon/notice.png");
}

.icon-info {
	width: 14px;
	height: 14px;
	background-position: 0 -34px;
}

.icon-info-l {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}

.icon-alert {
	width: 14px;
	height: 14px;
	background-position: -15px -34px;
}

.icon-alert-l {
	width: 32px;
	height: 32px;
	background-position: -33px 0;
}

.icon-error {
	width: 14px;
	height: 14px;
	background-position: -30px -34px;
}

.icon-error-l {
	width: 32px;
	height: 32px;
	background-position: -66px 0;
}

.icon-success {
	width: 14px;
	height: 14px;
	background-position: -45px -34px;
}

.icon-success-l {
	width: 32px;
	height: 32px;
	background-position: -99px 0;
}

.icon-what {
	width: 14px;
	height: 14px;
	margin: 0 6px;
	background-position: -60px -34px;
	cursor: pointer;
}

.icon-what-l {
	width: 32px;
	height: 32px;
	margin: 0 6px;
	background-position: -132px 0;
}

.icon-forbid {
	width: 14px;
	height: 14px;
	background-position: -76px -34px;
}

.icon-forbid-l {
	width: 32px;
	height: 32px;
	background-position: -165px 0;
}

.icon-wait {
	width: 14px;
	height: 14px;
	background-position: -91px -34px;
}

.icon-wait-l {
	width: 32px;
	height: 32px;
	background-position: -198px 0;
}

.icon-site {
	margin-right: 3px;
	background: url("../../../images/icon/site.png") no-repeat;
	vertical-align: middle;
}

.icon-taobao {
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.icon-alipay {
	width: 16px;
	height: 16px;
	background-position: 0 -99px;
}

.icon-aliyun, .icon-aliyunos {
	width: 16px;
	height: 16px;
	background-position: 0 -19px;
}

.icon-alibaba, .icon-aliexpress, .icon-alibabachina {
	width: 16px;
	height: 16px;
	background-position: 0 -39px;
}

.icon-yahoo {
	width: 16px;
	height: 16px;
	background-position: 0 -60px;
}

.icon-laiwang {
	width: 16px;
	height: 16px;
	background-position: 0 -79px;
}

.icon-facebook {
	width: 16px;
	height: 16px;
	background-position: 0 -320px;
}

#header, #content, #footer {
	margin-left: auto;
	margin-right: auto;
}

#content{
	height: 630px;
}

#content-container {
	padding-top: 50px;
}

.grid990 {
	width: 95%;
	margin: 0 auto;
	positon:relative;
	height: 95%;
}

.grid780 {
	width: 85px;
	margin: 0 auto;
}

#login-banner {
	float: left;
	width: 40%;
	min-height: 30%;
}

#login-module {
	float: left;
	border: 1px solid #ddd;
	padding: 21px 29px;
	min-height:200px;
	max-height:290px;
	position:absolute;
	width: 240px;
	top:30%;
	left:50%;
	margin-left: -140px;
}

#alibaba-login-iframe.iframe-show #alibaba-login-iframe-loading {
	display: none;
	position: absolute;
}

#header {
	height: 102px;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	
}

.header-img{
	background: url(/images/logo_banner.png) -77px 0px no-repeat;
}

.header-img-repeat{
	background: url(/images/logo_banner_repeat.png)  repeat-x;
}


.alibaba #header {
	overflow: visible;
}


.header-container {
	height: 102px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#logo {
	float: left;
	display: block;
	height: 62px;
	width: 100%;
	margin-top: 6px;
}

#logo a {
	float: left;
	display: inline-block;
	overflow: hidden;
	margin-top: 18px;
	 margin-right: 10px;
}

.taobao #logo {
	background-position: 0 0;
}

.alipay #logo {
	background-position: 0 -62px;
}

.tmall #logo {
	background-position: 0 -124px;
}

.alibabachina #logo {
	background-position: 0 -186px;
}

.alibaba #logo {
	background-position: 0 -248px;
}

.aliyun #logo {
	background-position: 0 -310px;
}

.laiwang #logo {
	background-position: 0 -372px;
}

.aliyunos #logo {
	background-position: 0 -434px;
}

.aliexpress #logo {
	background-position: 0 -496px;
}

.alihr #logo {
	background-position: 0 -620px;
}

.alipassport #logo {
	background-position: 0 -686px;
}

.kanbox #logo {login-field
	background-position: 0 -686px;
}

#logo .header-title {
	float: left;
	display: inline-block;
	height: 23px;
	margin-top: 22px;
	line-height: 23px;
	font-size: 14px;
	font-family: Microsoft YaHei, Hiragino Sans GB, \5b8b\4f53;
	color: #999;
}

#logo {
	width: 30%;
	background-position: 0 -555px;
}

.yunmail #logo a {
	width: 228px;
}

#navigation {
	float: right;
	height: 75px;
	font: normal 12px/75px Verdana, Arial, \5b8b\4f53, sans-serif;
}

#navigation a {
	color: #666;
}

#navigation a.navi-weak {
	color: #999;
}

#content-notice {
	margin-top: 1px;
	padding: 12px;
	border: none;
	background: #E4F5FF;
}

#content-notice .notice-wrapper {
	width: 75%;
	margin: 1px auto 0;
}

@charset "utf-8";
#footer {
    margin: 30px 0 0;
    text-align: center;
    width: 100%;
}
.aysw-footer {
    background: none repeat scroll 0 0 #efefef;
    border-top: 5px solid #d8d8d8;
    clear: both;
    color: #666;
    font: 12px/18px "微软雅黑",Helvetica,Arial,Verdana,"宋体";
    margin-top: 20px;
    padding: 15px 0 32px;
    text-align: center;
}
.aysw-footer a {
    color: #06c;
    text-decoration: none;
}
.aysw-footer a:hover {
    text-decoration: underline;
}
.aysw-footer .aysw-inner {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 95%;
}
.aysw-footer-copyright {
    clear: both;
    line-height: 27px;
    padding-top: 20px;
    text-align: center;
}
.aysw-footer-copyright a {
    color: #656565;
    vertical-align: middle;
}
.aysw-footer-copyright i {
    background: none repeat scroll 0 0 #c8c8d0;
    display: inline-block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    margin: 0 10px;
    overflow: hidden;
    vertical-align: middle;
    width: 1px;
}
.aysw-footer-certificates {
    padding-top: 10px;
    text-align: center;
}
.aysw-footer-certificates a {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-decoration: none;
}
.aysw-footer-certificates a:hover {
    text-decoration: none;
}
.aysw-footer-certificates img {
    margin: 0 5px;
    vertical-align: middle;
}
.aysw-footer-certificates a:hover img {
    opacity: 0.8;
}
.register-top-notice a, register-top-notice a:hover, .register-top-notice a:visited {
    text-decoration: underline;
}
.login-field{
	margin:2px 0px 10px 2px;
	font-size: 14px;
	text-align:left;
}
.login-field-name{
	margin:2px;
	font-family:verdana;
	font-weight:700;
	color:#333;
}
.login-submit{
	text-align:center;
}
.login-field input {
    vertical-align: middle;
}
.login-field-value{
	height: 25px;
    width: 100%;
}
.fm-button {
    background:  repeat scroll 0 0 #e66e1e;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    width: 48%;
}